<!DOCTYPE html>

<html  lang="en" ng-app="validacion">
  <head>
    <meta charset="UTF-8">
    <base href="/">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="CSS/estilos.css">
  </head>




  <body>

    <div class="contenedor">
    <br>
        <h1 class="margenHeader">MEAN Stack Test</h1>
  </div>

  <div ng-controller="validacionControler" ng-init="Listar()" class="margenUsuario">
  <p class="tag1"> {{user.fname}}&nbsp; {{user.lname}}&nbsp; ({{user.login}})&nbsp;&nbsp;<a ng-href="{{logout}}" ng-click="logout()" class="tag1">logout</a></p>

  <br>

  <div style="width: 100%;">

    <table>
      <tbody>

         <tr ng-repeat="cursos in Courses">
            <td>  

              <div class="estilo" ng-click="accion(cursos._id)"><strong>&nbsp;&nbsp;&nbsp;&nbsp;{{cursos.code}}</strong>&nbsp;&nbsp;&nbsp;{{cursos.name}}<a class="tag12">details</a></div>

              <div style="display: none;" class="estilo1" id="{{cursos._id}}">{{cursos.description}}<br><a class="tag11"  href="{{cursos.launch}}" target="_blank">launch</a></div>

              <br>

            </td>
          </tr>

      </tbody>
    </table>
</div>



  </div>

  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
     <script src="controllers/controller.js"></script>
  </body>


  
</html>



